#fot{
  width: 30%;
  padding-right: 120px;
  padding: 20px;
  border-radius: 100%;
  margin-top: 5%;
} 
.name{
  font-size: 30px;
  text-align: center;
  padding: 8px;
 
  color: crimson;
}

.n1{
  font-size: 40px;
  color: crimson;
} 

.n2{
  font-size: 28px;
  margin: 2px;
}
.container{
  text-align: center;
}



@media screen and (max-width: 500px) {
  #fot{
    width: 70%;
    padding-right: 120px;
    padding: 20px;
    border-radius: 100%;
    margin-top: 5%;
  } 
}