<div class="tamanio">
    <div class="title">
      BIENVENIDOS A MI SITIO WEB
    </div>
  
    <div class="spacer">
      <button mat-button routerLink="inicio"> INICIO</button>
      <button mat-button  routerLink="agenda"> <mat-icon>edit_note</mat-icon> AGENDA </button>
      <button mat-button routerLink="informacion"> <mat-icon>contact_phone</mat-icon>  INFORMACIÓN </button>  
      <button mat-button  routerLink="habilidades"> <mat-icon>handshake </mat-icon> HABILIDADES </button>
      <button mat-button routerLink="estudios">  <mat-icon>school</mat-icon>   ESTUDIOS </button>
      <button mat-button routerLink="formulario">  <mat-icon>call</mat-icon>CONTACTAME  </button>
    </div>
    
    
    
</div>
