<!-- <div class="todo">
<div class="columna1">
  <h1 class="estu1">ESTUDIOS REALIZADOS </h1>
    <li class="bachi"> <b  class="fabi"> NIVEL PRIMARIO:  </b>  <p class="fabi">U.E. Fabian Mercado Rapu.</p>  </li> <br>
    <li class="bachi"> <b class="fabi"> NIVEL SECUNDARIO: </b> <p  class="fabi"> U.E. 13 DE Abril.</p> </li>
    <li class="bachi"> <b class="fabi">  </b> <p  class="fabi"> U.E. 13 DE Abril.</p> </li>

  
</div>
  
  <div class="columna1">
    <h1 class="estu1">TÍTULOS OBTENIDOS</h1>
    
    <div class="fabi" >  <li class="bachi">Bachiller en humanidades.</li> </div>
  </div>
</div> -->




<body >
  
  <table width="50%" table border="3" id="todo">
    <tr>
      <td class="encabezado"><h2 class="letras">  ESTUDIOS <br> <mat-icon>school</mat-icon></h2></td>
      <td class="encabezado"><h2 class="letras">
        DURACÓN <br>  <mat-icon>schedule</mat-icon></h2>
        </td>
      <td class="encabezado"><h2 class="letras">TITULOS <br><mat-icon>folder_special</mat-icon></h2>
      </td>
      
    </tr>  
    <tr>
      <td class="letras">DESARROLLO DE APLICACIONES WEB </td>
      <td class="letras">MARZO 2022 <br> PRESENTE</td>
      <td></td>
     
    </tr>  
    <tr>
      <td class="letras">MANEJO DE EXCEL MACROS</td>
      <td class="letras">14 DE MAYO  AL<br> 18 DE JUNIO 2022</td>
      <td class="letras">TECNICO EN MACROS,VBA EXCEL Y PROGRACION ORIENTADA A OBJETOS.</td>
   
       </tr> 
    <tr>
      <td class="letras">NIVEL  <br>   SECUNDARIO</td>
      <td class="letras">2016-2021</td>
      <td class="letras">BACHILLER  <br> EN HUMANIDADES</td>
      
    </tr> 
    <tr>
      <td class="letras">NIVEL <br>  PRIMARIO</td>
      <td class="letras">2009-2015</td>
      <td></td>
    </tr> 
      </table>
   