.datos{
 padding: 90px;
 margin: 2px;  
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.n1{
  font-size: 25px;
  color: crimson;
}

.n2{
  font-size: 25px;
  margin: 2px;
} 



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


 .ip{
  margin-top: 5%;
  text-align: center;
  margin-right: 27px;
  font-size: 40px;
  color: crimson;
}  

.ip2{
  margin-top: 15px;
  text-align: center;
  margin-right: 27px;
  font-size: 40px;
  color: crimson;
}

@media screen and (max-width: 500px) {
  .datos{
    padding: 20px;
  }
}
